# dependencies needed for development, such as testing frameworks and linters

-r requirements.txt # ensures that all the dependencies listed in `requirements.txt` are included when installing the development dependencies

pytest==8.2.2